<!--
  Generated template for the MisTareasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Gestor de Tareas</ion-title>
    <ion-buttons end>
      <button (click)="cerrarSesion()">
        <ion-icon class="larger" name="md-exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="listTask" padding>
  <ion-list style="margin-top: 10%;">
    <ion-item-sliding *ngFor="let item of myTask" style="border-style: outset;">
        <ion-item>
          <ion-avatar *ngIf="item.fin==0" item-start>
            <ion-icon class="larger" name="ios-clipboard-outline"></ion-icon>
          </ion-avatar>
          <ion-avatar *ngIf="item.fin==1" item-start>
            <ion-icon class="larger" name="ios-clipboard"></ion-icon>
          </ion-avatar>
          <h2><b>{{item.title}}</b></h2>
          <h6>Descripcion: {{item.description}}</h6>
          <h6>Fecha: {{item.date | date:'yyyy-MM-dd HH:mm a z':'-0000'}}</h6>
          <h6>Usuario a Cargo: {{item.user}}</h6>
          <h6 *ngIf="item.fin==1" style="color:green">Estado: Acabada</h6>
          <h6 *ngIf="item.fin==0" style="color:red">Estado: Pendiente</h6>
        </ion-item>
        <ion-item-options side="left">
          <button *ngIf="item.fin==1" disabled ion-button color="primary" (click)="acabarTarea(item);">
            <ion-icon name="md-checkmark-circle"></ion-icon>
            Termi
          </button>
          <button *ngIf="item.fin==0" ion-button color="primary" (click)="acabarTarea(item);">
            <ion-icon name="md-checkmark-circle"></ion-icon>
            Termi
          </button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
