<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/logo.svg">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/logo.svg"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <div class="login-box">
      <form (ngSubmit)="login()" #registerForm="ngForm">
        <ion-row>
          <ion-col>
            <ion-list inset>
              
              <ion-item>
                <ion-label> <ion-icon name="ios-mail"></ion-icon></ion-label>
                <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="user.email" required></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label> <ion-icon name="ios-key"></ion-icon></ion-label>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password" required></ion-input>
              </ion-item>
              
            </ion-list>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col class="signup-col">
            <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Iniciar Sesion</button>
          </ion-col>
        </ion-row>
      </form>
      <hr>
      <ion-row>
          <ion-col class="signup-col">
            <button ion-button class="register-btn" block clear (click)="goToRegistro()">Registrarse</button>
          </ion-col>
        </ion-row>
    </div>
</ion-content>
