<ion-tabs>
    <ion-tab [root]="tareasAsignadasRoot" tabTitle="Tareas asignadas" tabIcon="ios-albums"></ion-tab>
    <ion-tab [root]="misTareasRoot" tabTitle="Mis tareas" tabIcon="ios-albums-outline"></ion-tab>
</ion-tabs>
