<!--
  Generated template for the AddTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar color="dark">
    <ion-title>Editar Tarea</ion-title>
  </ion-navbar>

</ion-header>
    
    
<ion-content class="formularioEditar" padding>

  <div class="edit-box">
    <form (ngSubmit)="saveTask()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-label color="primary">Titulo</ion-label>
              <ion-input type="text" placeholder="Titulo" name="title" [(ngModel)]="task.title" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="primary">Descripcion</ion-label>
              <ion-textarea type="text" placeholder="Descripcion" name="description" [(ngModel)]="task.description" required></ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label color="primary">Date</ion-label>
              <ion-datetime [ngModelOptions]="{standalone: true}" displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="task.date"></ion-datetime>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Guardar Tarea</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>
    