page-edit-task {
    .formularioEditar{
        background: #3ebffb;

        .logo-row {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        
        .edit-box {
            background: #399F8B;
            padding: 20px 20px 0px 20px;
            margin-top: 30px;
            border: 1px solid #ffffff;
            border-radius: 30px !important;
           
        }
        
        ion-row {
            align-items: center;
            text-align: center;
        }
        
        ion-item {
            border-radius: 30px !important;
            padding-left: 30px !important;
            font-size: 0.9em;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
        
        .signup-col {
            margin: 0px 16px 0px 16px;
            padding-bottom: 20px;
        }
        
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
        
        .submit-btn {
            background: #51CFB1;
            border-radius: 30px !important;
            border: 1px solid #ffffff;
        }
    }
}
