<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>Registro</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="login-content"  padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/logo.svg"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="signin()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-label> <ion-icon name="ios-contact"></ion-icon></ion-label>
              <ion-input type="text" placeholder="User" name="user" [(ngModel)]="user.user" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label> <ion-icon name="ios-mail"></ion-icon></ion-label>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="user.email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label> <ion-icon name="ios-key"></ion-icon></ion-label>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Registrarse e Iniciar Sesion</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>
